@media only screen and (min-width: 1000px){
	.b960 .fullwidthbanner-container .fullwidthabanner {
	margin-bottom: -7px;
	}
	.b960 .wrapper.top-slider {
		height: auto !Important;
	}
	.post-area {
		z-index: 2;
	}
}
@media only screen and (max-width: 1200px){
.container {
	padding-left: 20px !important;
	padding-right: 20px !important;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.page-header .menu-bg > .container {
padding: 0 !important;
}
.teaser.small {
	height: auto;
	border-radius: 1020px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

	.teaser.style3 h2 {
	width: 80%;
	margin-top: -5px;
	margin-left: 10%;
	}
	.teaser.style4 header {
	/*position: absolute;*/
	/*bottom: -30px;*/
	}
	.teaser {
	width: 96%;
	height: auto;
	margin-bottom: 30px;
border-radius: 500px;
	}
	.teaser > img, .teaser div > img {
	border-radius: 500px;
	height: auto;
	}
	.teaser.style2 header {
	/*border-radius: 0 0 50% 50%;*/
	}
	.teaser.style3 header {
	padding-top: 35%;
	}
	.teaser.style1 header {
	border-radius: 500px;
	}
	.widget_recent_posts_2-fac .date {
		margin-left: 15%;
	}
	.rev_slider {
		margin-bottom: -7px;
	}
}
@media only screen and (max-width: 959px){
	.why-choose-us .grid_3 {
		width: 47.5%;
	}
	footer .container .grid_3 {
		width: 47.5%;
	}
	.post-area.grid_6 {
		width: 97.5%;
	}
	.post-area.grid_9 {
	  width: 72.5% !Important;
	}
	.padding-0_34per_0_0 {
		padding-right: 0;
	}
/*	.left-sidebar.grid_3 {
		width: 97.5%
	}*/
	/*.right-sidebar.grid_3 {
		width: 97.5%
	}*/
	.menu>li>a {
		padding: 0 10px;
	}
	.widget_recent_posts_2-fac .date {
		margin-left: 17%;
	}
	.widget_out_stuff2 .item-con-t1 header h2 {
	font-size: 18px;
	}
	.widget_out_stuff2 .item-con-t1 header p {
	margin-top: 5px;
	line-height: 1;
	}
	body.woocommerce ul.products li.product:nth-child(2n+2), body.woocommerce-page ul.products li.product:nth-child(2n+2) {
	margin-right: 0;
	}
	body.woocommerce ul.products li.product:nth-child(3n+3), body.woocommerce-page ul.products li.product:nth-child(3n+3) {
	margin-right: 3.8%;
	}
	body.woocommerce ul.products li.product, body.woocommerce-page ul.products li.product {
		width: 47.5%;
	}
.headerstyle2 .menu li > span {
	right: -10px;
}
.widget_recent_works .item-con-t1 h2 {
margin-top: 4px;
font-size: 15px;
}
}
@media only screen and (max-width: 767px){

	.column_post.isotope-item {
	width: 47.5%;
	}
	.three-plates .plate {
		width: 100%;
	}
	.three-plates .plate:hover {
		background: #a7acaf;
	}
	.three-plates .plate .alpha,
	.three-plates .plate .omega {
		display: none;
	}
	.three-plates .plate .separator {
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background: #717476;
		border-bottom: solid 1px #babec1;
	}
	.three-plates .plate .separator div{
		position: absolute;
		top: 7px;
		left: 50%;
		height:8px;
		width: 15px;
		margin-left:-7px;
		background-image: url(../img/sprite.png);
		background-position: -8px 0;
	}
	.three-plates .plate:first-child .separator{
		display: none;
	}
	.advantages .grid_4 {
		width: 47.5%;
	}
	.grid_1, .grid_2, .grid_4, .grid_5, .grid_6 {
		width: 47.5% !Important;
		margin-bottom: 10px;
	}
	.grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
		width: 97.5% !Important;
		margin-bottom: 10px;
	}
	.widget_more_info h2 {
	font-size: 19px;
	padding: 20px;
	margin-bottom: 110px;
	}
	.widget_more_info span {
	position: absolute;
	right: 39%;
	bottom: 30px;
	top: auto;
	}
    .tab-nav li a {
        padding: 9px 25px;
    }

 .theme-one-fourth {
		width: 45%;
		margin-right: 5%;
	}

	.logo {
width: 205px;
margin: 0 auto;
float: none;
height: 75px;
}
.socials {
width: 100%;
text-align: center;
}
.socials li {
display: inline-block;
float: none;
margin-top: 0;
}
.flexslider-posts-slider.images-slider .flex-direction-nav {
top: 32%;
}

/*------ Mobile -----*/
.page-path {
display: none;
}
.headerstyle2 .headline h1 span {
display:none;
}
body.headerstyle2 .headline h1 {
	line-height: 54px;
}
body.headerstyle2 .page-path {
	margin-top: 0;
}
body.headerstyle2 nav {
float: left;
width: 100%;
padding-right: 50px;
}
body.headerstyle2 nav {
float: left;
width: 100%;
padding-right: 50px;
}
body.headerstyle2 .menu>li>a {
	height: 44px;
	line-height: 44px;
}
body.email.contact {
	margin-left: 0px;
}
body.headerstyle3 nav {
	float: none;
	margin: 0;
}
.absolute {
height: auto;
float: none;
}
.wrapper.header-image {
margin-top: -54px;
height: 54px;
}
.absolute.fixed .menu-bg {
position: relative;
}
.menu li {
margin: 0;
display: block;
text-align: left;
padding-left: 5px;
border: 0;
border-bottom: 1px dotted #555;
}
.menu li > span {
display: block;
cursor: pointer;
top: 0;
width: 30px;
height: 30px;
text-align: center;
line-height: 44px;
}
.menu li:hover>a, .menu li.current_page_item>a {
color: #fff;
border: 0;
}
.menu li a {
color: rgb(187, 187, 187);
border: 0;
width: 100%;
}
.mini_logo {
display: inline;
float: none;
width: auto;
margin-right: 10px;
margin-left: 25px;
}
.menu li:hover> ul {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.menu li>ul {
position: relative;
background: transparent;
height: auto;
opacity: 1;
margin: 0 !important;
width: auto !important;
}
.menu li>ul>li>a {
background-color: #fff;
color: #BBB;
border: 0;
}
.headerstyle3 .menu, .headerstyle2 .menu {
width: 100%;
float: left;
}
.menu li>ul>li>a:hover {
background-color: #292929;
color: #fff;
border: 0;
}
.menu li:hover>a:after, .menu li.current_page_item>a:after {
display: none;
}
.menu>li:hover>a, .menu>li.current_page_item>a {
color: #fff;
border: 0;
}
.menu li>ul>li {
	border: 0;
}
.menu li>ul>li>a {
background-color: #292929;
}
.headerstyle2 .headline {
height: 55px;
}
.socials.mobile-socials {
	display:block;
}
#menu-btn {
	display: inline-block;
}
#search-icon {
	display: none;
}
.headerstyle2 .menu {
width: 100%;
}
.menu > li:first-child {
margin-left: 0px;
}
.headerstyle2 .menu li > span {
right: 30px;
top: 7px;
}
.headerstyle2 .menu li ul li > span {
display: block;
right: 20px;
}
header .menu {
margin-top: 0;
float: left;
width: 100%;
overflow: hidden;
background: rgb(41, 41, 41);
height: 0;
}
header .menu.opened {
height: auto;
}
.page-header > .wrapper {
display: none;
}
div.fixed.menu-bg {
position: relative !important;
}
.menu-bg .container, .menu-bg .grid_12 {
padding: 0;
width: 100% !important;
margin:0;
}
.menu {
margin: 0;
}
.headerstyle2 .page-header > .wrapper {
display: block;
overflow: hidden;
}
.headerstyle2 .wrapper.preheader {
display: none;
}
.headerstyle2 .logo {
display: inline-block;
width: 150px;
height: 40px;
margin-left: 20px;
}
.headerstyle2 .logo img {
height: 30px !important;
}
.headerstyle2 .menu>li {
width: 100%;
padding-right: 10px;
}
.headerstyle3 .contact {
display: none;
}
.headerstyle3 .mobile-socials li {
overflow: hidden;
}
.headerstyle3 .menu-bg .container,  .headerstyle3 .menu-bg .grid_12 {
text-align: center;
padding: 0;
}
div.wrapper.menu-bg {
background: rgba(255,255,255,1);
}
.menu-bg {
background-color: #fff;
}
.menu .sub-menu li .sub-menu, .menu ul li ul li ul {
left: 10px;
}
/*---- Mobile ---*/
.page-template-template-contact-form-1-php.headerstyle2 .headline h1 {
margin-top: 0 !important;
}

.headerstyle4 .page-header .container .grid_12 {
margin: 0;
width: 100% !important;
}
.headerstyle4 .page-header .container {
padding: 0 !important;
text-align: center;
}
.headerstyle4 .page-header > .wrapper {
display: block;
}
.headerstyle4 .logo img {
height: 100% !important;
margin-top: 7.5px;
}
.headerstyle4 .logo {
width: auto;
height: 30px;
display: inline-block;
}
.widget_recent_posts_2-container .slides > li {
padding-right: 12px;
}

li.post-menu > ul >li {
width: 24.1%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
height: auto;
clear: none;
display: inline-block;
float: none;
}
.post-details {
display: none !important;
}
li.post-menu > ul >li>a>img,  li.post-menu > ul >li>a {
height: auto;
}

.headerstyle5  .page-header .wrapper.small_preheader {
display: none;
}
.headerstyle5 .page-header > .wrapper.main-menu {
display: block;
background-color: #fff;
text-align: center;
}
.wrapper.main-menu .container {
padding: 0 !important;
}
.widget_recent_works .item-con-t1 h2 {
margin-top: 14px;
font-size: 18px;
}

}



@media only screen and (max-width: 639px){
.wrapper.headline {
	height: auto;
}
	.gallery-container .gallery .item-con-t1 {
width: 47.4%;
}
	.column_post header a, .column_post header h2 {
	font-size: 12px;
	}
	#back_to_top {
		display:none !important;
	}
	.widget_out_stuff2 .item-con-t1 {
	width: 99.564102%;
	}
	.b1170 .container, .b960 .container {
	padding-left: 10px;
	padding-right: 10px;
	}
	.item-con-t1 h2 {
	font-size: 12px;
	}
	.widget_recent_posts_2-fac .date {
	margin-left: 13%;
	}
	.advantages .grid_4 {
		width: 97.5%;
	}
	.why-choose-us .grid_3 {
		width: 97.5%;
	}
	footer .container .grid_3 {
		width: 97.5%;
	}
	.left-sidebar.grid_3 {
		width: 97.5%;
	}
	.right-sidebar.grid_3 {
		width: 97.5%;
	}
	.leave-comment form .input-field {
		width: 100%;
	}
	.leave-comment form .input-field:first-child {
		margin-right: 0%;
	}
	.single-gallery .grid_9,
	.single-gallery .grid_3 {
		width: 97.5%;
	}
	.single-gallery .grid_9 {
		margin-bottom: 30px;
	}
	.contacts .grid_9,
	.contacts .grid_3 {
		width: 97.5%;
	}
	.contacts .grid_3 {
		margin-bottom: 30px;
	}
	.contacts form .input-field {
		width: 100%;
	}
	.contacts form .input-field:first-child {
		margin-right: 0%;
	}
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
		width: 97.5% !Important;
	}
	.purchase-plate_header,  .purchase-plate_text {
	padding: 0;
	}
	div.purchase-plate {
	padding: 30px 30px 40px;
	}

.purchase-plate a.sc-button-hover {
position: absolute;
left: 50%;
top: auto;
bottom: 15px;
margin-left: -80px;
right: auto;
}
.purchase-plate a.purchase-plate_button {
position: relative;
display: block;
top: auto;
margin: 20px 0 0;
right: auto;
left: auto;
bottom: auto;
}
	.widget_out_stuff .item-con-t1 {
	width: 80%;
	margin-left: 8%;
	margin-top: 30px;
	}
	.widget_testimonials .item {
	width: 96%;
	}

	.theme-one-half,
	.theme-one-third,
	.theme-two-third,
	.theme-three-fourth,
	.theme-one-fifth,
	.theme-two-fifth,
	.theme-three-fifth,
	.theme-four-fifth,
	.theme-one-sixth,
	.theme-five-sixth {
		width: 100%;
		margin-right: 0;
	}
.theme-one-fourth {
width: 100%;
margin: 0;
}
	.z-link {
		width: 100%;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.z-tab {
		width: 100% !important;
	}
	.horizontal .z-tabs-nav {
		width: 100%;
	}
	.post-helper-absolute {
	display: none;
	}
	.post {
	margin-left: 0;
	padding-right: 10px;
	}
	.flexslider-posts-slider.images-slider .flex-direction-nav {
	top: 28%;
	}
	.two-headers h2 {
	font-size: 18px;
	}
	.two-headers h3 {
	font-size: 13px;
	margin-bottom: 0;
	}
	.two-headers a {
	top: 37%;
	}
	.widget_out_stuff2 .item-con-t1 header h2 {
	font-size: 16px;
	}
	.widget_out_stuff2 .item-con-t1 header p {
	font-size: 12px;
	margin-top: 0px;
	line-height: 1.5;
	}
	.transp_bg, .transp_round {
		display: none;
	}
	.post-area.grid_9 {
	  width: 97.5% !Important;
	}
.underline .z-link {
	font-size: 13px;
}

.post-area {
	z-index: 1;
}

}

@media only screen and (max-width: 560px){
	.widget_recent_works .image-links {
	top: 50%;
	}
	.post-category {
	height: auto;
	}
	.post .post-body .item-con-t1 {
	width: 100%;
	margin: 0;
	}
	.column_post.isotope-item {
	width: 97%;
	}
	.gallery-container .gallery .item-con-t1 {
	width: 97.4%;
	}
	.flexslider-posts-slider.images-slider .flex-direction-nav {
	top: 12%;
	}
	.widget_recent_works .flexslider {
	margin-bottom: 0;
	padding: 0;
	width: 100%;
margin-top: 10px;

	}
	.widget_recent_posts_2-fac .date {
	margin-left: 6%;
	}
		.widget_recent_posts_2-container .slides > li {
	padding-right: 3px;
	}
	.widget_recent_works-container .slides > li {
padding-right: 0;
}
	.widget_recent_works .item-con-t1 {
	width: 99%;
	}
	.headline h1 {
	font-size: 20px;
	white-space: nowrap;
	}
}

@media only screen and (max-width: 320px){
	body.woocommerce ul.products li.product, body.woocommerce-page ul.products li.product {
	width: 99%;
	}

	ul.socials.mobile-socials {
		display: none;
	}

	div.panel-switcher {
		display: none;
	}
	.fixed-header .headline {
		padding-top: 0;
	}

}
/*----------- Mobile -----------*/




@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.three-plates-img-1 span,
	.three-plates-img-2 span,
	.three-plates-img-3 span,
	.three-plates-idea span,
	.three-plates-list span,
	.three-plates-mental span,
	.three-plates-start span,
	.three-plates-strategy span,
	.three-plates-target span,
	.three-plates-time span,

	.advantages a .advantages-img span,
	.teaser a .advantages-img span,

	.why-choose-us .why-choose-us-img span,

	.rev-direction-nav .rev-next span,
	.rev-direction-nav .rev-prev span,
	.rev-direction-nav a {
    background-image: url("../img/sprite@2x.png");
    background-size: 512px 760px;
  }
  .socials a, .socials-bottom a {
  	background-image: url("../img/socials@2x.png");
    background-size: 300px 1000px;
  }
}


.media_for_js {
  position: fixed;
  visibility: hidden;
  width: 0px;
  height: 0px;
  z-index: 940;
}
@media only screen and (max-width: 939px){
  .media_for_js {
    z-index: 939;
  }
}
@media only screen and (max-width: 767px){
  .media_for_js {
    z-index: 767;
  }
}
@media only screen and (max-width: 639px){
  .media_for_js {
    z-index: 639;
  }
}
@media only screen and (max-width: 479px){
  .media_for_js {
    z-index: 479;
  }
}